name: Test Compilation

on: 
  schedule:
    - cron: '0 0 * * *'  # Runs daily at midnight
  push:
    branches:
      - main
  workflow_dispatch: 

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Run Shell Script
        run: |
          chmod +x ./build.sh
          ./build.sh
          echo "Package successfully compiled"
